Order Allow,Deny
#Allow from 109.172.51.15 
Allow from All
#Allow acces to wp-admin/admin-ajax.php
               <Files admin-ajax.php>
               Order allow,deny
               Allow from all
               Satisfy any
               </Files>